# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# env files
.env*
!.env.example

# vercel
.vercel

# local data
/data/

# ralio
ralio-key.pem
scripts/

# typescript
*.tsbuildinfo
next-env.d.ts
